/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f9;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #007bff;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

/* Container */
.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Buttons */
button {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #0056b3;
}

/* Forms */
input, textarea, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Lists */
ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Progress Bar */
progress {
    width: 150px;
    height: 15px;
    margin-left: 10px;
}

/* Flash messages */
.flash {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.card {
    background:#f1f5f9;
    padding:15px;
    border-radius:10px;
    text-align:center;
    font-size:16px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.project-box {
    background:#fff;
    padding:15px;
    border-radius:10px;
    margin-bottom:15px;
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
}

/*kanban styles*/

.kanban {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.kanban-column {
    background: #f8fafc;
    padding: 15px;
    border-radius: 10px;
    min-height: 300px;
}

.kanban-column h3 {
    text-align: center;
}

.kanban-task {
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}


